@use "_variables" as *;

.article__button-container {
  display: flex;
  justify-content: space-between;
}

.form-destination__button-container {
  height: 128px;
}

.article__button {
  flex: 1;
  display: flex;
  align-items: center;
}

.form-destination__button {
  justify-content: space-around;
  background-color: $color-corporate;
  border-radius: 0 0 16px 16px;
  font-family: $font-family-primary;
  font-size: 36px;
  font-weight: 400;
  color: white;
  border-style: none;
}

.our-blog-cards__button {
  background-color: transparent;
  font-family: $font-family-primary;
  font-size: 24px;
  font-weight: 400;
  color: $color-corporate;
  border-style: none;
  gap: 20px;
  align-items: center;
}
