@use "_variables" as *;

.form-destination__button-container {
  display: flex;
  justify-content: space-between;
  height: 128px;
}

.form-destination__button {
  flex: 1;
  display: flex;
  align-items: center;
}

.form-destination__button {
  justify-content: space-around;
  background-color: $color-corporate;
  border-radius: 0 0 16px 16px;
  font-family: $font-family-primary;
  font-size: 36px;
  font-weight: 400;
  color: white;
  border-style: none;
}

.article__button {
  background-color: $color-corporate;
  color: white;
  border: none;
  border-radius: 12px;
  padding: 20px;
}

.content-section__trip-planners__button {
  font-family: $font-family-secondary;
}
