@use "_reset" as *;
@use "_variables" as *;
@use "_buttons" as *;
@use "_hero-section" as *;
@use "_our-blog-section" as *;
@use "_travelers-experiences-section" as *;
@use "_trip-planner" as *;

// img {
//   background-color: blue;
// }

body {
  position: relative;
}

header {
  position: absolute;
  width: 100%;
}

.header-container {
  display: flex;
  justify-content: space-between;
  & img {
    margin: 30px 15px 0 15px;
  }
}
.content {
  margin: 80px 16px 16px;
}

.content-section__article-title {
  font-family: $font-family-primary;
  font-size: 40px;
  font-weight: 300;
  margin: 20px 0px 30px 0px;
  display: inline-block;
  padding-bottom: 20px;
  border-bottom: solid 3px #ff7757;
}

.first-title {
  width: 227px;
}

.content-section__article-description {
  font-family: $font-family-secondary;
  font-size: 18px;
  color: #767e86;
  margin: 20px 0px 32px 0px;
  display: block;
}

.content-section__article-cards-container {
  margin-top: 100px;
}

.cards-container__image-container {
  position: relative;
  text-align: center;
  color: white;
}

.image-container__image {
  border-radius: 16px;
  object-fit: cover;
}

.image-container__description {
  font-family: $font-family-primary;
  position: absolute;
  bottom: 80px;
  left: 23px;
  font-size: 24px;
}

.image-container__location {
  display: flex;
  flex-direction: row;
  align-content: flex-start;
  position: absolute;
  bottom: 43px;
  left: 23px;
  gap: 5px;
}

.location__country {
  font-size: 18;
  font-family: $font-family-secondary;
}

.content-section__buttons-container {
  margin-top: 141.5px;
  margin-bottom: 160px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 40px;
}

:is(.button_right, .button_left) {
  width: 60px;
  height: 60px;
  border: none;
  border-radius: 12px;
}

.button_right {
  background: #172432;
}

.button_left {
  background: #ff7757;
}

.offer-article-title__underline {
  margin-top: 20px;
  margin-bottom: 32px;
  width: 241px;
  height: 4px;
  background: $color-corporate;
}

.content-section__offers-cards {
  margin-top: 60px;
  width: 288px;
  height: 675px;
  background: #fff8f1;
  border-radius: 0px 0px 26px 26px;
  font-family: $font-family-secondary;
  & > :not(div:first-of-type) {
    display: none;
  }

  & .card__image {
    border-radius: 26px 26px 0px 0px;
  }

  & .card__text-block {
    margin: 20px;

    & .text-block__title {
      font-size: 28px;
      color: #767e86;
    }

    & .text-block__rating {
      margin-top: 10px;
    }
    & .text-block__paragraph {
      margin-top: 26.98px;
      font-family: $font-family-secondary;
      font-size: 16px;
    }

    & .card__button-container {
      display: flex;
      flex-direction: column;
      gap: 19px;
      & .card__from {
        margin-top: 20px;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 8px;
        & span:first-of-type {
          font-size: 18px;
          color: #767e86;
        }
        & span {
          font-size: 32px;
          color: $color-corporate;
        }
      }

      & .card__button {
        font-size: 20px;
        text-transform: uppercase;
        color: white;
        background: $color-corporate;
        width: 127px;
        height: 56px;
        padding: 16px 24px 16px 24px;
        border-radius: 12px;
        border: none;
      }
    }
  }
}
