@import "../../node_modules/@fontsource/rubik/400.css";
@import "../../node_modules/@fontsource/playfair-display/400.css";
@import "/node_modules/@fortawesome/fontawesome-free/css/all.min.css";
$font-family-primary: "Playfair Display", serif;
$font-family-secondary: "Rubik", "sans serif";
$color-corporate: #ff7757;
$color-secondary: #172432;
$margin-common: 16px;
